*{
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background-color: #404042;
}
.navbar{
    background-color: white;
}
.navbar-nav{
    font-size:125%;
}

#banner{
    width:100%;
    height:92vh;
    object-fit: cover;
    position: relative;
}

#brands{
    width:500px;
    height:300px;
    position: absolute;
    right:5%;
    top:27%;
    border-radius: 20px;
    padding:2%;
    background-color: white;
    opacity: 0.9;
}

#logo{
    width:30%;
    margin-right: 3%;
}

#header > h1{
    font-size:4em;
    font-weight: bold;
    position:absolute;
    top:30%;
    left:7%;
    color:beige;
    text-shadow: 2px 2px 3px gray;
}

#about{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    text-align: center;
    position:absolute;
    top:85%;
}

.box{
    font-size:125%;
    padding:2%;
    background-color:rgba(0,0,0,0.5);
    color:white;
    text-align: justify;
    width:30%;
    border-radius: 20px;
}

.icon{
    width:50px;
    height:50px;
    margin-bottom:4%;
}



#video{
    margin-top:13%;
    margin-left:5%;
    margin-bottom:5%;

}

.address{
    padding:3%;
    padding-top:1%;
    font-size:1.5em;
    color:white;
}

.address>h3{
    font-size:1.75em;
    font-weight: bolder;
}

.carousel-control-prev, .carousel-control-next{
    background-color: black;
    width:40px;
    height:40px;
    border-radius: 50%;
    top:50%;
}

#product{
    margin-top:1%;
    padding:2%;
    text-align: center;
    background-color: beige;
    height:800px;
    margin-bottom:2%;
}

.poster{
    height:90%;
    width:550px;

}

#product > h2{
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: 2%;
    color:#294e75;
}


.row{
    padding:2%;
}

iframe{
    width:800px;
    height:500px;
}

.booth{
    text-align: center;
    padding:3%;
}

.booth > h2{
    margin-bottom:3%;
    color:#fe9160;
    font-size:3em;
    font-weight: bold;
}

#partner{
    text-align: center;
}

.company{
    width:90px;
    height:50px;

}

.one{
    height:80px;
    width:80px;
}


#footer{
    text-align: center;
    margin-bottom:3%;
    color:#fe9160;
}




/* .carousel-inner {
    padding: 1em;
  }

.carousel-control-prev, .carousel-control-next {
    background-color: black;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

.card{
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
} */

#end{
    width: 100%;
    margin-top: 6%;
    margin-bottom: 2%;
    background-color:#404042;
}



/* @media screen and (min-width:768px){
    .carousel-inner{
        display:flex;
    }
    .carousel-item{
        margin-right:0;
        flex:0 0 33.33%;
        display:block;
    }

    .card .img-wrapper {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card  {
        max-height: 100%;
    }
}

@media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
    }
  } */