*{
    font-family: 'Source Sans Pro', sans-serif;
}


.navbar{
    background-color: white;
}
.navbar-nav{
    font-size:125%;
}

#banner{
    width:100%;
    height:100vh;
    object-fit: cover;
    position: relative;
}

#brands{
    width:500px;
    height:300px;
    position: absolute;
    right:6%;
    top:33%;
    border-radius: 20px;
    padding:2%;
    background-color: white;
    opacity: 0.9;
}

#logo{
    width:30%;
    margin-right: 3%;
}

#header > h1{
    font-size:3.5em;
    font-weight: bold;
    position:absolute;
    top:30%;
    left:7%;
    color:beige;
    text-shadow: 2px 2px 3px gray;
}
#about{
    text-align: center;
    padding:4%;
    background-color: beige;
}


.vision{
    font-size:1.25em;
    padding:2%;
}


.vision > p{
    text-align: justify;
}

.icon{
    width:50px;
    height:50px;
    margin-bottom:4%;
}

.carousel{
    text-align:center;
}

.product{
    width:400px;
    height:500px;
}

#product{
    padding:3%;
    text-align: center;
    width:50%;
    background-color: beige;
}

.carousel-control-prev, .carousel-control-next{
    background-color: rgba(0,0,0,0.5);
    border-radius:50%;
    width:50px;
    height:50px;
    top:40%;
}

#catalogue{
    display:flex;
    flex-direction:wrap;
}

#desc{
    padding:3%;
    padding-left: 5%;
    width:50%;
    line-height: 35px;
    background-color: beige;
    color:#393939;
}

#desc>ol{
    font-size: 1.25em;
}

#booth{
    padding:5%;
    text-align: center;
    background-color: #393939;
}

#booth>h2{
  color:beige;
}

iframe{
    width:70%;
    height:600px;
    margin-top:3%;
}

#footer{
    display:flex;
    flex-direction: row;
}


#video{
    width:50%;
    padding:3%;
    background-color:#393939;
}

video{
    width:100%;
    height:400px;
}

#address{
    color:white;
    width:50%;
    padding: 5%;
    background-color:#393939;

}

#address>h2{
    font-weight: bold;
    padding-bottom: 2%;
}

#address>p{
    font-size: 1.25em;
    color:beige;
}

#album>#last{
    font-size: 15px;
    text-align: center;
    padding-top:2%;
}

#album{
    padding:2%;
    background-color: beige;
}

#albumIn{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

#albumIn > div{
    padding:1%;
}

.albumpic{
    width:200px;
    height: 200px;
    object-fit: cover;
}

#album > h2{
    text-align: left;
    padding-bottom:2%;
    padding-left:3%;
    font-weight: bold;
    padding-top:3%;
}

@media screen and (max-width:768px){
    #header > h1{
        font-size:1.7em;
        top:15%;
    }

    #brands{
        width:70%;
        height:200px;
        left:5%;
        top:45%;

    }
    #catalogue{
        display:inline-block;
        width:100%;
    }

    #product,#desc{
        width:100%;
        margin:0;
        padding:5%;
        padding-top:7%;
        padding-bottom:7%;
    }
    #booth{
        height: 500px;
    }
    #walk{
        width:100%;
        height:400px;
        padding-bottom:5%;
    }

    #footer{
        display:inline-block;
    }
    #video, #address{
        width:100%;
        padding:5%;
    }

    .navbar>#logo{
      width:70%;
    }

}
